.chartdiv{
    height: 800px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-color: black;
    border-width: 1px;
    border-style: none;
    background-color: transparent;
}

.outerdiv{
    background-color: transparent;
}