.main-div {
    padding: 0;
    margin: 0;
    
}

.navContainer{
    height: 4vh;
    width: 100%;
    margin: 0;
}

.leaflet-container {
    height: 96vh;
    width: 100%;
}

a {
    color:#E3E8F0
}

code {
    color:#E3E8F0
}

/*  
Background: #414754
LightBackgroun: #717786
Text: #E3E8F0
Highlights: #DAA21B
*/